/*Fonts
размер шрифта,        font-size
высоту строки,         line-height
цвет шрифта,         color
жирность шрифта,      font-weight
гарнитуру (название шрифта).  font-family
*/

body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Regular";
}

h1 {
  font-size: 21px;
  line-height: 24px; /*Надо ли это указывать, если в макете авто, и я его линейкой померял*/
  color: black;
  font-weight: bold;
  font-family: "PT Sans Bold";
}

h2 {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Bold";
  font-weight: bold;
}

.landscape {
  color: white;
  background-color: #81b3d2;
}